<div class="help-text">
    <h2 class="help-text-title">Your table has been published!</h2>
    <p>Copy the oembed link below and paste it into presto.</p>
    <input ng-model="publish_link" readonly="readonly" type="text" class="copy-input" ng-click="copy_input_click($event)">
    <br />
    <p>Need to make changes in the future, be sure to keep track of your edit link</p>
    <input ng-model="edit_link" readonly="readonly" type="text" class="copy-input" ng-click="copy_input_click($event)")>
</div>