@font-face {
    font-family: 'Futura Today Normal';
    src: url('http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.eot') format('eot');
    src: url('http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.woff') format('woff'), url('http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_normal.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Futura Today Demibold';
    src: url('http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.eot') format('eot');
    src: url('http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.woff') format('woff'), url('http://www.gannett-cdn.com/GDContent/global/fonts/futura_today_demibold.ttf') format('truetype');
    font-weight: 500;
}

html {
    font-size: 13px;
}

body {
    font-family: 'Futura Today Normal', sans-serif;
    background: #f1f5f7;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vertically-center {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 480px) {
    html {
        font-size: 14px;
    }
}

/* app specific styles */

.editor {
    margin: auto;
}

.page-header {
    background-color: #354144;
    height: 60px;
    color: #fff;
    text-align: center;
}
.page-header-title {
    margin: 0;
    font-size: 1.7rem;
    line-height: 60px;
}
.page-header-subtitle {
    color: #4DB6AC;
    font-weight: normal;
    margin-left: 8px;
}
.header-separator {
    height: 75px;
    background: #e4ebef;
}
.stepper-wrapper {
}

.editor-content {
    max-width: 960px;
    margin: auto;
    padding: 0 17px;
}
.snippet-control {
    margin: 0;
    padding: 0;
    list-style: none;
}
.link {
    cursor: pointer;
    color: #337ab7;
}
.link:hover {
    text-decoration: underline;
}
.snippet-control li {

}
.snippet {
    border: 2px dotted #BBB;
    width: 100%;
    margin: 45px auto;
}
.help-text {
    margin: 20px 0 30px;
    color: #424242;
}
.help-text-title {
    font-size: 1.82rem;
    margin: 0 0 30px;
    text-align: center;
}

.desktop-width-limit {
    max-width: 540px;
}
.mobile-width-limit {
    max-width: 320px;
}
