.data-table {
    height: 453px;
}

.th {
    text-transform: uppercase;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.measure-unit {
    font-size: 0.8em;
    color: #7D7D7D;
    margin-left: 1px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    color: #444;
    table-layout: fixed;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    text-align: left;
    padding: 10px 17px;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 1rem;
    line-height: 1.5rem;
}

.table > thead > tr > th {
    font-weight: 400;
    font-size: 0.9rem;
    color: #333;
    vertical-align: bottom;
}

.table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table {
    border: 0;
    position: relative;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: 0;
}

.table > thead > tr > th,
.table > thead > tr > td {
    border-bottom-width: 2px;
}

.th-row {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.table-row {
    border-bottom: 1px solid #f0f0f0;
}

.table-row:last-child {
    border-bottom: none;
}

.table .is-num-val {
    font-family: 'Inconsolata', serif;
    font-size: 1.1rem;
}

.data-table {
    position: relative;
}

.table-headers {
    display: none;
}

.table-wrapper {
    height: 100%;
    overflow: auto;
}

.exceedances {
    font-weight: bold;
}

.table-header {
    margin: 0;
    padding: 15px 17px;
    position: relative;
}

.table-title {
    float: left;
    font-size: 1.2rem;
    line-height: 32px;
    font-weight: bold;
    display: none;
}

.table-filter {
    border: 0;
    margin: 0;
    padding: 0;
}

#input-filter::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#input-filter:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(0, 0, 0, 0.5);
}

#input-filter::-moz-placeholder {
    /* FF 19+ */
    color: rgba(0, 0, 0, 0.5);
}

#input-filter:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.5);
}

.input-w-icon {
    cursor: pointer;
    position: relative;
}

.input-icon {
    height: 30px;
}

.input-label {
    position: absolute;
    left: 12px;
    top: 0;
    cursor: pointer;
    z-index: 1;
    font-size: 23px;
    line-height: 34px;
}

.input {
    width: 100%;
    display: block;
    border: none;
    padding: 5px 10px 5px 37px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
}

.no-data-msg {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #D50000;
}

.fadeout {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 43px;
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    z-index: 2;
}

.separator-dash {
    margin: 0 5px;
}

@media screen and (min-width: 501px) {
    .table-header {
        margin-bottom: 0;
    }

    .input-w-icon {
        cursor: pointer;
        transition: all 0.2s ease-out;
        min-width: 250px;
        float: right;
    }

    .table-title {
        display: block;
    }

    .input-label {
    }

    .input {
        transition: all 0.2s ease-out;
        background: #fff;
    }

    .table-headers {
        display: block;
    }

    .table > tbody > tr:nth-child(odd) {
        background: rgba(27,156,250, 0.08);
    }

    .table-headers tbody {
        visibility: hidden;
    }

    .table-values thead {
        visibility: hidden;
    }

    .table-wrapper.table-headers {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 3;
    }

    .table-wrapper.table-values {
        overflow: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
    }

    .table-wrapper.table-headers .th-row th {
        background: #fff;
    }

    .data-table tr {
        background: #fff;
    }
}

@media screen and (max-width: 500px) {
    .data-table tr {
        background: #fff;
    }

    /* crucial to get fixed header height working see "set_header_height" in js*/
    .table-wrapper.table-values {
        height: 100% !important;
    }

    .table > thead,
    .table > tfoot {
        display: none;
    }

    .table > tbody {
        display: block;
    }

    .table > tbody > tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin: 0 0 1rem;
        padding: 10px;
    }

    .table > tbody > tr > td {
        display: block;
        vertical-align: middle;
        text-align: right;
    }

    .table > tbody > tr > td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.6);
    }

    .table > tbody > tr {
        border: 1px solid #ccc;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    }

    .table {
        border: 0;
    }

    .table > tbody > tr > td {
        border: 0;
        border-bottom: none;
        padding: 2px 0;
        clear: both;
    }

    .table > tbody > tr > td:last-child {
        border-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .table > tbody > tr > td[data-title]:before {
        display: block;
        float: none;
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .table > tbody > tr > td {
        text-align: left;
        padding: 4px 0;
    }

    .table > tbody > tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        padding: 10px;
    }
}
