<div class="data-table-wrapper" ng-if="tableData">
    <div class="table-header clearfix">
        <div class="table-title">
            <span ng-class="{'error-msg': !has_results}">{{ results_cnt }} record<span ng-if="results_cnt !== 1">s</span></span>
        </div>
        <div class="table-input-wrapper">
            <div class="input-w-icon">
                  <label for="input-filter" class="input-label"><i class="input-icon icon-search"></i></label>
                  <input id="input-filter" type="text" class="input" placeholder="Search these results" ng-model="$parent.filter_text"/>
            </div>
        </div>
    </div>
    <div class="data-table" ng-show="has_results">
        <div class="table-wrapper table-headers">
            <table class="table">
                <thead>
                <tr class="th-row">
                    <th class="th" ng-repeat="field in tableData.fields">{{ field }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tableData.values | filter:$parent.filter_text" class="table-row">
                        <td class="td" data-title="{{ tableData.fields[$index] }}" ng-repeat="value in row">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-wrapper table-values" scroll-to-bottom="is_at_bottom">
             <table class="table">
                <thead>
                <tr class="th-row">
                    <th class="th" ng-repeat="field in tableData.fields">{{ field }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tableData.values | filter:$parent.filter_text" class="table-row">
                        <td class="td" data-title="{{ tableData.fields[$index] }}" ng-repeat="value in row">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fadeout" ng-hide="is_at_bottom"></div>
    </div>
    <p ng-show="!has_results" class="no-data-msg error-msg">No results found</p>
</div>