<div class="data-table-wrapper" ng-if="data" iframe-resize>
    <div class="table-header clearfix">
        <div class="table-title">
            {{ title }}
        </div>
        <div class="table-input-wrapper">
            <div class="input-w-icon">
                  <label for="input-filter" class="input-label"><i class="input-icon icon-search"></i></label>
                  <input id="input-filter" type="text" class="input" placeholder="Search these results" ng-model="filter_text"/>
            </div>
        </div>
    </div>
    <div class="data-table" ng-show="has_results">
        <div class="table-wrapper table-headers">
            <table class="table">
                <thead>
                <tr class="th-row">
                    <th class="th" ng-repeat="field in data.fields">{{ field }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in data.values | filter:filter_text" class="table-row">
                        <td class="td" data-title="{{ value }}" ng-repeat="value in row">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-wrapper table-values" scroll-to-bottom="is_at_bottom">
             <table class="table">
                <thead>
                <tr class="th-row">
                    <th class="th" ng-repeat="field in data.fields">{{ field }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in data.values | filter:filter_text" class="table-row">
                        <td class="td" data-title="{{ value }}" ng-repeat="value in row">{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fadeout" ng-hide="is_at_bottom"></div>
    </div>
    <p ng-show="!has_results" class="no-data-msg">No results found</p>
</div>