{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Table Generator{% endblock %}

{% block body_attrs %}ng-app="editor"{% endblock %}

{% block head %}<base href="{% url 'editor' %}">{% endblock %}

{% block content %}
    <div ng-controller="editor" class="editor">
        <div class="page-header">
            <h1 class="page-header-title"><span class="">USA Today</span><span class="page-header-subtitle">Table Generator</span></h1>
        </div>
        <div class="header-separator"></div>
        <div class="stepper-wrapper">
            <stepper steps="steps" position="stepper_position"></stepper>
        </div>
        <div class="editor-content">
            <ng-view></ng-view>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'common/app.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/sweetalert/dist/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'tables/components/stepper/stepper.css' %}" rel="stylesheet">
    <link href="{% static 'tables/components/responsive-table/icons.css' %}" rel="stylesheet">
    <link href="{% static 'tables/pages/editor/editor.css' %}" rel="stylesheet">
    <link href="{% static 'tables/pages/editor/editor-icons.css' %}" rel="stylesheet">
    <link href="{% static 'tables/components/table-viz/table-viz.css' %}" rel="stylesheet">
    <link href="{% static 'tables/components/responsive-table/responsive-table.css' %}" rel="stylesheet">
    <link href="{% static 'tables/pages/upload/upload.css' %}" rel="stylesheet">
    <link href="{% static 'tables/pages/edit/edit.css' %}" rel="stylesheet">
    <link href="{% static 'tables/pages/publish/publish.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        window.options = {
            upload: {
                url: "{% url 'upload' %}"
            },
            table_viz : {
                url: "{% url 'table-viz' %}"
            },
            csrf_token: "{{ csrf_token }}"
        }
    </script>
    <script src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-xeditable/dist/js/xeditable.js' %}"></script>
    <script src="{% static 'bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>
    <script src="{% static 'bower_components/ngSweetAlert/SweetAlert.min.js' %}"></script>
    <script src="{% static 'tables/components/stepper/stepper.js' %}"></script>
    <script src="{% static 'tables/components/responsive-table/responsive-table.js' %}"></script>
    <script src="{% static 'tables/pages/editor/editor-api.js' %}"></script>
    <script src="{% static 'tables/pages/editor/editor.js' %}"></script>
    <script src="{% static 'tables/pages/upload/upload.js' %}"></script>
    <script src="{% static 'tables/pages/edit/edit.js' %}"></script>
    <script src="{% static 'tables/pages/publish/publish.js' %}"></script>
{% endblock %}