{% extends 'base.html' %}

{% block body_attrs %}ng-app="editor"{% endblock %}

{% load staticfiles %}

{% block content %}
    <div ng-controller="editor">
        <stepper steps="steps" position="stepper_position"></stepper>
        <ng-view></ng-view>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'tables/components/stepper/stepper.css' %}" rel="stylesheet">
    <link href="{% static 'tables/icons.css' %}" rel="stylesheet">
    <link href="{% static 'tables/tables.css' %}" rel="stylesheet">
    <link href="{% static 'tables/components/responsive-table/responsive-table.css' %}" rel="stylesheet">
    <link href="{% static 'tables/pages/upload/upload.css' %}" rel="stylesheet">
    <link href="{%  static 'angular-xeditable/dist/css/xeditable.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script>
        window.options = {
            upload: {
                url: "{% url 'upload' %}"
            },
            csrf_token: "{{ csrf_token }}"
        }
    </script>
    <script src="{%  static 'ng-file-upload/ng-file-upload.min.js' %}"></script>
    <script src="{%  static 'angular-xeditable/dist/js/xeditable.js' %}"></script>

    <script src="{% static 'tables/components/stepper/stepper.js' %}"></script>
    <script src="{% static 'tables/components/responsive-table/responsive-table.js' %}"></script>
    <script src="{% static 'tables/pages/editor/editor.js' %}"></script>
    <script src="{% static 'tables/pages/upload/upload.js' %}"></script>
    <script src="{% static 'tables/pages/edit/edit.js' %}"></script>
{% endblock %}