<div id="viz" class="editable">
    <div class="chatter-header chatter clearfix">
        <div class="chatter-title-wrapper">
            <h1 class="chatter-title" editable-textarea="viz.title">{{ viz.title || "Click here to edit the title" }}</h1>
        </div>
        <p class="chatter-description" editable-textarea="viz.description">{{ viz.description || "Click here to edit the chatter. It's recommended to limit the chatter to 3 short sentences." }}</p>
    </div>
    <div class="viz-content">
        <responsive-table url="{{ tableDataUrl }}"></responsive-table>
    </div>
    <div class="chatter-footer chatter">
        <p><span class="chatter-source">Source</span>: <span editable-textarea="viz.source">{{ viz.source || "Click here to edit the source." }}</span></p>
    </div>
</div>