<div id="viz" ng-if="viz">
    <div class="chatter-header chatter clearfix">
        <div class="chatter-title-wrapper">
            <h1 class="chatter-title">{{ viz.title }}</h1>
        </div>
        <p class="chatter-description">{{ viz.chatter }}</p>
    </div>
    <div class="viz-content">
        <responsive-table table-data="viz.table_data"></responsive-table>
    </div>
    <div class="chatter-footer chatter">
        <p><span class="chatter-source">Source</span>: {{ viz.source }}</p>
    </div>
</div>